name: "Deploy development code to AWS with Terraform"
on:
  push:
    branches:
      - develop

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: .aws/terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        working-directory: .aws/terraform
        run: terraform init

      - name: Terraform Plan
        working-directory: .aws/terraform
        run: terraform plan

      - name: Terraform Apply
        working-directory: .aws/terraform
        run: terraform apply -auto-approve
